{% extends "base.html" %}

{% block content %}
{% load static %}
  <div>
    <h2 class="text-warning">Click on your scores:</h2>
  </div>
  <div>
    {% for roll_dice in roll_dices %}
      {% if roll_dice == 1 %}
        <img class="dice dice-1" src="{% static "./1.png" %}">
      {% elif roll_dice == 2 %}
        <img class="dice dice-2" src="{% static "./2.png" %}">
      {% elif roll_dice == 3 %}
        <img class="dice dice-3" src="{% static "./3.png" %}">
      {% elif roll_dice == 4 %}
        <img class="dice dice-4" src="{% static "./4.png" %}">
      {% elif roll_dice == 5 %}
        <img class="dice dice-5" src="{% static "./5.png" %}">
      {% elif roll_dice == 6 %}
        <img class="dice dice-6" src="{% static "./6.png" %}">
      {% endif %}
    {% endfor %}
  </div>
  {% comment %}
  <form method="post">
    {% csrf_token %}
    {{ form.put_aside }}
    {% if form.errors %}
      Sprawdź, czy formularz jest poprawnie wypełniony.
    {% endif %}
    <button type="submit" class="btn btn-warning">Put aside</button>
    <a href="/total/" class="btn btn-info">Show total</a>
  </form>
  {% endcomment %}
{% endblock %}
